/* Disable right-click context menu for Tauri app */
html {
	-webkit-user-select: none;
	user-select: none;
}

/* Allow text selection in inputs/textareas */
input,
textarea {
	-webkit-user-select: text;
	user-select: text;
}

body {
	background-color: #f7f5f0;
}

#root {
	height: 100vh;
}

.app-root {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f7f5f0;
}
